spring:
    datasource:
        url: ${DB_URL} #Use environment variables
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}
        driver-class-name: org.postgresql.Driver
        hikari:
            maximum-pool-size: 10
            minimum-idle: 5
    jpa:
        show-sql: false
        hibernate:
            ddl-auto: validate #Never auto-modify in production
logging:
    level:
        '[com.cacutler.recipearchive]': INFO